<!doctype html>
<html>
	<head>
		<title>hojlund's aktieanalyzer</title>
		<link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/fork-awesome/1.2.0/css/fork-awesome.min.css"
      integrity="sha512-aupidr80M36SeyviA/hZ2uEPnvt2dTJfyjm9y6z1MgaV13TgzmDiFdsH3cvSNG27mRIj7gJ2gNeg1HeySJyE3Q=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
	<body>
		<h1>TradingView List</h1>
    <p>
      This website lists symbol, exchange, and screener supported by the python
      library tradingview-ta. The database isn't complete, so please
      <a rel="noopener" target="_blank" href="https://github.com/brian-the-dev/tradingview-list/issues/new/">open an issue</a>
      on GitHub if you can't find your country. Please note that indices are not
      supported by tradingview-ta, this is a limitation from TradingView's API,
      not the library.
    </p>
			<!--<h1 style="padding:10px">hojlund's aktieanalyzer</h1>-->
			
			<!--<h3>Indtast et symbol for at se nyheder og udspecificeret analyse</h3>-->

				<form class="form-inline" action="sentiment" method="POST">
					<div class="form-group">
						<label for="text_field1">Aktie symbol</label>
						<input class="form-control mx-sm-3" id="text_field1" aria-describedby="textHelpInline" placeholder="TSLA" name="ticker" type="text" required autofocus> 
						<small id="textHelpInline" class="text-muted">Indtast et aktiesymbol for at se detaljeret visning.</small>	
					</div>				
					<input id="submit_button" type="Submit" class="btn btn-primary btn-sm">
				</form>
			</div>
		</div>
	</body>
</html>