<!doctype html>
<html>
	<head>
		<title>hojlund's aktieanalyzer</title>
		<link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/fork-awesome/1.2.0/css/fork-awesome.min.css"
      integrity="sha512-aupidr80M36SeyviA/hZ2uEPnvt2dTJfyjm9y6z1MgaV13TgzmDiFdsH3cvSNG27mRIj7gJ2gNeg1HeySJyE3Q=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
	
	<body>
		<h1>{{header}}</h1>
		<h4><a href="/">Gå tilbage til indtastning af nyt symbol</a></h4>
		<div id="chart" class="chart"></div>
		<br><br>  
		<div id="chart2" class="chart"></div>
		<div>{{description}}</div>
		<br><br>	
		{{ table|safe }}
		<br><br>
		{{ tableprice|safe }}
	</body>

	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<script type="text/javascript">
		var graph_hourly = {{graphJSON_hourly | safe}};
		Plotly.plot('chart',graph_hourly,{}); 
		var graph_daily = {{graphJSON_daily | safe}};  
		Plotly.newPlot('chart2',graph_daily,{});   	
	</script>

</html>